.color_section{
	height: 100%;
	background-image: url("img/beer/beer (4).jpg");
}
#copyright{
color: #000;
}
#copyright a{
	color:#272727 ;
	font-weight: bold;
}
.not_found{
	color:#faf29d;
}

#header .navbar-brand{
	position: static;
	text-align: center;
	height: 70px;
	width: 100%;
}
#header .navbar-brand img{
	height: 60px;
}